:root {
  --main-button-fill-colour: #390099;
  --main-button-border-colour: #210058;
  --red-drawing-colour: #DF0400;
  --dark-red-colour: rgb(133, 3, 1);
  --blue-drawing-colour: #00B8DF;
  --green-drawing-colour: #00DF2B;
  --med-green-colour: rgb(0, 168, 34);
  --dark-green-colour: rgb(0, 107, 21);
  --purple-drawing-colour: #4900DF;
  --orange-drawing-colour: #DF6300;
  --grey-colour: rgb(194, 194, 194);
  --dark-grey-colour: rgb(110, 110, 110);
}

input[type="text"]  {  
  font-family: 'Roboto', sans-serif; font-weight: 400;
  font-size: 1em;  
  height: 1.2em;
  text-align: center;
  padding-top: 0.1em;
  border-radius: 5px;
}

button, input[type="submit"] {
  padding: 1em 1.5em;
  font-family: 'Roboto', sans-serif; font-weight: 400;
  color: white;
  font-size: 0.8em;
  border-radius: 10px;
  width: 25%;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  margin-top: 0px !important;
}

button {
  background-color: var(--main-button-fill-colour);
  border-bottom: 5px solid var(--main-button-border-colour);
  text-shadow: 0px -2px var(--main-button-border-colour);
}

input[type="submit"] {
  background-color: rgb(6, 165, 6);
  border-bottom: 5px solid green;
  text-shadow: 0px -2px green;
}

b {
  margin: 0px !important;
}

html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.content {
  background: url("./images/Background.svg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: 'Roboto', sans-serif; font-weight: 400;
  text-align: center;
  height: 100vh;
}

.content * {
  margin: 0.83em 0.5em;
}

.content-inner {
  margin: 0px;
}

.sub-header {
  font-style: italic;
}

#home-page-header {
  font-size: 2.5em;
  margin-bottom: 0.3em;
  margin-top: 0px;
  color: white;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: 'Luckiest Guy', cursive;
}

#home-page-tagline {
  font-size: 1.2em;
  padding: 0em 1em;
}

#add-player-button {
  background-color: var(--med-green-colour);
  border-bottom: 5px solid var(--dark-green-colour);
}

#delete-player-button {
  background-color: var(--red-drawing-colour);
  border-bottom: 5px solid var(--dark-red-colour);
}

#player1, #player2, #player3, #player4, #player5, #player6, #player7, #player8 {
  width: 40%;
  margin-bottom: 0px;
}

.button-holder {
  width: 80%;
  padding-bottom: 0em;
  align-items: center;
  margin: auto;
}

.button-holder button, .button-holder input {
  margin-top: 0.5em !important;
}

.button-waiting {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.disabled-button {
  background-color: var(--grey-colour);
  border-bottom: 5px solid var(--dark-grey-colour);
  color: black;
  text-shadow: none;
}

.main-text-holder {
  height: 25vh;
}

#text-input-holder {
  height: 40vh;
}

.canvas-holder * {
  margin: auto;
  width: 300px;
}

#canvas, #canvas-rate {
  border: 0.4em var(--med-green-colour);
  border-style: dashed;
  margin: auto;
}

#canvas {
  width: 280px;
}

#canvas-rate {
  width: 220px;
}

#canvas-rate div {
  margin: 0px;
}

.dot {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  border: 5px solid black;
}

#red-dot {
  background-color: var(--red-drawing-colour);
}

#blue-dot {
  background-color: var(--blue-drawing-colour);
}

#green-dot {
  background-color: var(--green-drawing-colour);
}

#purple-dot {
  background-color: var(--purple-drawing-colour);
}

#orange-dot {
  background-color: var(--orange-drawing-colour);
}

.bold-name-text {
  font-weight: 700;
  color: var(--main-button-fill-colour);
  margin: 0px;
}

.big-image {
  height: 50vmin;
}

.small-image {
  height: 20vmin;
  margin-top: 0.5em;
  width: auto;
}

#drawing-info {
  margin-bottom: 1em;
}

#times-up-button {
  width: 50%;
  margin: 0;
}

#drawing-desc {
  padding: 0px 0px 0.5em 0px;
}

#timer-time {
  color: var(--red-drawing-colour);
}

#start-drawing-button {
  width: 75%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo, .big-image, .small-image  {
    animation: App-logo-spin infinite 3s linear;
  }
}

@media only screen and (max-width: 1024px) {
  button, input[type="submit"] {
    width: 45%;
    margin-bottom: 0px !important;
  }

  #player1, #player2, #player3, #player4, #player5, #player6, #player7, #player8 {
    width: 80%;
    margin-bottom: 0px;
    margin-top: 0.5em;
  }
}

@media only screen and (max-width: 320px) {
  button, input[type="submit"] {
    width: 50%;
    font-size: 1em;
    margin-bottom: 0px !important;
  }

  #player1, #player2, #player3, #player4, #player5, #player6, #player7, #player8 {
    width: 80%;
    margin-bottom: 0px;
    margin-top: 0.5em;
  }
}

#initial-drawing-main-text-holder {
  height: 14vh;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(-10deg);
  }
}

